<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greedy.mappers.CosmeticMapper">
  
  <resultMap type="com.greedy.cosmetic.model.dto.CosmeticDTO" id="CosmeticResultMap">
  	<id property="cosmeticCode" column="COSMETIC_CODE"/>
  	<result property="cosmeticName" column="COSMETIC_NAME"/>
  	<result property="cosmeticPrice" column="COSMETIC_PRICE"/>
  	<result property="categoryCode" column="CATEGORY_CODE"/>
  	<result property="stockStatus" column="STOCK_STATUS"/>
  </resultMap>

  <select id="selectAllCosmetic" resultMap="CosmeticResultMap">
    SELECT
           COSMETIC_CODE
         , COSMETIC_NAME
         , COSMETIC_PRICE
         , CATEGORY_CODE
         , STOCK_STATUS
      FROM TBL_COSMETIC
     WHERE STOCK_STATUS = 'Y'
     ORDER BY COSMETIC_CODE
  </select>
  
    <insert id="registCosmetic" parameterType="com.greedy.section03.remix.MenuDTO">
  	INSERT
  	  INTO TBL_COSMETIC
  	(
  	 	   COSMETIC_CODE
         , COSMETIC_NAME
         , COSMETIC_PRICE
         , CATEGORY_CODE
         , STOCK_STATUS
  	)
  	VALUES
  	(
  	  SEQ_MENU_CODE.NEXTVAL
  	, #{ cosmeticName }
  	, #{ cosmeticPrice}
  	, #{ categoryCode }
  	, 'Y'
  	)
  </insert>

</mapper>